#gazetteerDOGForm
{

/*background-color:lightgray;*/
width:180px;
height:inherit;
padding-left:8px;
}


#gazetteerDOGForm div 
{
width:inherit;	
height:auto;
padding-bottom:6px;
}

#selectResultsearchGemeinden
{
background-color:#F2F2F2;
width:inherit;
height:inherit;
}

#selectResultsearchStrassen
{
background-color:#F2F2F2;
width:inherit;
height:inherit;
}

.gazetteerDOG
{
border: solid gray 1px;	
background-color:#F2F2F2;
}

#selectResultsearchGemeinden
{
width:190px;
height:inherit;	
}


#selectResultsearchStrassen
{
width:190px;
height:inherit;	
}

#gazetteerDOGOrtPlz
{
width:110px;
}

#gazetteerDOGStrasse
{
width:110px;
}



