#Löschen der Session WMCs
* * * * * find /data/mapbender/http/tmp/wmc  -name '*' -mmin +40 -type f | xargs rm -f
#Monitoring der Kartenviewer Nutzer
*/5 * * * *             /data/monitoring/session.sh
#Erstellen der Graphik für Zugriffe
*/15 * * * *            /data/monitoring/plot_session.sh
* * * * *             /data/monitoring/plot_24h_session.sh
*/10 * * * *            /data/monitoring/plot_7d_session.sh


