<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true" stopOnFailures="false">
    <testsuites>
        <testsuite name="Core">
            <directory suffix="Test.php">mapbender/modules/Core/*/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>