
#side-menu
{
	background-color: white;
	width: 343px;
	position: absolute;
	left: -400px;
	top: 0px;
	bottom: 0px;
	z-index: 1050;
	box-shadow: rgba( 0, 0, 0, 0.176 ) 0px 6px 12px;
	transition: left 0.2s;
}

#side-menu.visible
{
	left: 0px;
}

#side-menu-content 
{
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 50px);
}

#side-menu-content .panel-title
{
	word-wrap: break-word;
	margin-right: 17px;
}

#side-menu-content .panel-title span
{
	margin-right: -20px;
}
