@charset "utf-8";

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*::selection { color: $font-color-white; background: $primary;}
*::-moz-selection {color: $font-color-white; background: $primary;}

body{
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
}

ul, li, button, label{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

a, button{
    color: $font-color;
    outline: 0;
    outline: none;

    &:hover, &:active, &:focus {
        outline: none;
        outline: 0;
    }
}

input{
    color: $font-color;
    outline: 0;
    outline: none;

    -webkit-box-shadow: inset 1px 1px 5px 1px rgba(238, 238, 238, 1);
    -moz-box-shadow: inset 1px 1px 5px 1px rgba(238, 238, 238, 1);
    box-shadow: inset 1px 1px 5px 1px rgba(238, 238, 238, 1);

    &:hover, &:active, &:focus {
        outline: none;
        outline: 0;
    }
}

select{
    overflow: auto;
}

dl{
    display: table-row;
    dt{
        font-weight: bold;
    }
    dd{
        display: table-cell;
        padding: 5px;
    }
}

$max: 12;
$angle: 360/$max;
$size: 120px;
$fill: dodgerblue;

.l-wrapper {
    position: absolute;
    width: $size*4;
    height: $size*2.3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    font-weight: bold;
    height: 40px;
    border: 1px solid #eee;
    cursor: pointer;
    padding: 10px;
    background-color: darken($input-background, 5%);
    border-color: darken($primary-bg, 50%);
    line-height: 40px;
    text-decoration: none;
    &:hover {
        background-color: darken($input-background, 10%);
        border-color: darken($primary-bg, 50%);
    }
}

.loading {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #2623dc, 1.8em -1.8em 0 0em rgba(38,35,220, 0.2), 2.5em 0em 0 0em rgba(38,35,220, 0.2), 1.75em 1.75em 0 0em rgba(38,35,220, 0.2), 0em 2.5em 0 0em rgba(38,35,220, 0.2), -1.8em 1.8em 0 0em rgba(38,35,220, 0.2), -2.6em 0em 0 0em rgba(38,35,220, 0.5), -1.8em -1.8em 0 0em rgba(38,35,220, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.7), 1.8em -1.8em 0 0em #2623dc, 2.5em 0em 0 0em rgba(38,35,220, 0.2), 1.75em 1.75em 0 0em rgba(38,35,220, 0.2), 0em 2.5em 0 0em rgba(38,35,220, 0.2), -1.8em 1.8em 0 0em rgba(38,35,220, 0.2), -2.6em 0em 0 0em rgba(38,35,220, 0.2), -1.8em -1.8em 0 0em rgba(38,35,220, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.5), 1.8em -1.8em 0 0em rgba(38,35,220, 0.7), 2.5em 0em 0 0em #2623dc, 1.75em 1.75em 0 0em rgba(38,35,220, 0.2), 0em 2.5em 0 0em rgba(38,35,220, 0.2), -1.8em 1.8em 0 0em rgba(38,35,220, 0.2), -2.6em 0em 0 0em rgba(38,35,220, 0.2), -1.8em -1.8em 0 0em rgba(38,35,220, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.2), 1.8em -1.8em 0 0em rgba(38,35,220, 0.5), 2.5em 0em 0 0em rgba(38,35,220, 0.7), 1.75em 1.75em 0 0em #2623dc, 0em 2.5em 0 0em rgba(38,35,220, 0.2), -1.8em 1.8em 0 0em rgba(38,35,220, 0.2), -2.6em 0em 0 0em rgba(38,35,220, 0.2), -1.8em -1.8em 0 0em rgba(38,35,220, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.2), 1.8em -1.8em 0 0em rgba(38,35,220, 0.2), 2.5em 0em 0 0em rgba(38,35,220, 0.5), 1.75em 1.75em 0 0em rgba(38,35,220, 0.7), 0em 2.5em 0 0em #2623dc, -1.8em 1.8em 0 0em rgba(38,35,220, 0.2), -2.6em 0em 0 0em rgba(38,35,220, 0.2), -1.8em -1.8em 0 0em rgba(38,35,220, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.2), 1.8em -1.8em 0 0em rgba(38,35,220, 0.2), 2.5em 0em 0 0em rgba(38,35,220, 0.2), 1.75em 1.75em 0 0em rgba(38,35,220, 0.5), 0em 2.5em 0 0em rgba(38,35,220, 0.7), -1.8em 1.8em 0 0em #2623dc, -2.6em 0em 0 0em rgba(38,35,220, 0.2), -1.8em -1.8em 0 0em rgba(38,35,220, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.2), 1.8em -1.8em 0 0em rgba(38,35,220, 0.2), 2.5em 0em 0 0em rgba(38,35,220, 0.2), 1.75em 1.75em 0 0em rgba(38,35,220, 0.2), 0em 2.5em 0 0em rgba(38,35,220, 0.5), -1.8em 1.8em 0 0em rgba(38,35,220, 0.7), -2.6em 0em 0 0em #2623dc, -1.8em -1.8em 0 0em rgba(38,35,220, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.2), 1.8em -1.8em 0 0em rgba(38,35,220, 0.2), 2.5em 0em 0 0em rgba(38,35,220, 0.2), 1.75em 1.75em 0 0em rgba(38,35,220, 0.2), 0em 2.5em 0 0em rgba(38,35,220, 0.2), -1.8em 1.8em 0 0em rgba(38,35,220, 0.5), -2.6em 0em 0 0em rgba(38,35,220, 0.7), -1.8em -1.8em 0 0em #2623dc;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #2623dc, 1.8em -1.8em 0 0em rgba(38,35,220, 0.2), 2.5em 0em 0 0em rgba(38,35,220, 0.2), 1.75em 1.75em 0 0em rgba(38,35,220, 0.2), 0em 2.5em 0 0em rgba(38,35,220, 0.2), -1.8em 1.8em 0 0em rgba(38,35,220, 0.2), -2.6em 0em 0 0em rgba(38,35,220, 0.5), -1.8em -1.8em 0 0em rgba(38,35,220, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.7), 1.8em -1.8em 0 0em #2623dc, 2.5em 0em 0 0em rgba(38,35,220, 0.2), 1.75em 1.75em 0 0em rgba(38,35,220, 0.2), 0em 2.5em 0 0em rgba(38,35,220, 0.2), -1.8em 1.8em 0 0em rgba(38,35,220, 0.2), -2.6em 0em 0 0em rgba(38,35,220, 0.2), -1.8em -1.8em 0 0em rgba(38,35,220, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.5), 1.8em -1.8em 0 0em rgba(38,35,220, 0.7), 2.5em 0em 0 0em #2623dc, 1.75em 1.75em 0 0em rgba(38,35,220, 0.2), 0em 2.5em 0 0em rgba(38,35,220, 0.2), -1.8em 1.8em 0 0em rgba(38,35,220, 0.2), -2.6em 0em 0 0em rgba(38,35,220, 0.2), -1.8em -1.8em 0 0em rgba(38,35,220, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.2), 1.8em -1.8em 0 0em rgba(38,35,220, 0.5), 2.5em 0em 0 0em rgba(38,35,220, 0.7), 1.75em 1.75em 0 0em #2623dc, 0em 2.5em 0 0em rgba(38,35,220, 0.2), -1.8em 1.8em 0 0em rgba(38,35,220, 0.2), -2.6em 0em 0 0em rgba(38,35,220, 0.2), -1.8em -1.8em 0 0em rgba(38,35,220, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.2), 1.8em -1.8em 0 0em rgba(38,35,220, 0.2), 2.5em 0em 0 0em rgba(38,35,220, 0.5), 1.75em 1.75em 0 0em rgba(38,35,220, 0.7), 0em 2.5em 0 0em #2623dc, -1.8em 1.8em 0 0em rgba(38,35,220, 0.2), -2.6em 0em 0 0em rgba(38,35,220, 0.2), -1.8em -1.8em 0 0em rgba(38,35,220, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.2), 1.8em -1.8em 0 0em rgba(38,35,220, 0.2), 2.5em 0em 0 0em rgba(38,35,220, 0.2), 1.75em 1.75em 0 0em rgba(38,35,220, 0.5), 0em 2.5em 0 0em rgba(38,35,220, 0.7), -1.8em 1.8em 0 0em #2623dc, -2.6em 0em 0 0em rgba(38,35,220, 0.2), -1.8em -1.8em 0 0em rgba(38,35,220, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.2), 1.8em -1.8em 0 0em rgba(38,35,220, 0.2), 2.5em 0em 0 0em rgba(38,35,220, 0.2), 1.75em 1.75em 0 0em rgba(38,35,220, 0.2), 0em 2.5em 0 0em rgba(38,35,220, 0.5), -1.8em 1.8em 0 0em rgba(38,35,220, 0.7), -2.6em 0em 0 0em #2623dc, -1.8em -1.8em 0 0em rgba(38,35,220, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,35,220, 0.2), 1.8em -1.8em 0 0em rgba(38,35,220, 0.2), 2.5em 0em 0 0em rgba(38,35,220, 0.2), 1.75em 1.75em 0 0em rgba(38,35,220, 0.2), 0em 2.5em 0 0em rgba(38,35,220, 0.2), -1.8em 1.8em 0 0em rgba(38,35,220, 0.5), -2.6em 0em 0 0em rgba(38,35,220, 0.7), -1.8em -1.8em 0 0em #2623dc;
    }
}
