@charset "utf-8"; // Set charset to utf-8 cause of icon moon content codes

// Colors
//$primary: #3872DD;
$primary: #871d33;
//$corporate: #871d33;

$primary-bg: #eeeeee;
$background: #fff;
$input-background: lighten($primary-bg, 15%);
$box-shadow: 0;

// Responsive
//smartphones, handhelds, etc.
$xs-screen: 320px;
$s-screen:  480px;
//tablets, mini computers, etc.
$m-screen:  768px;
//notebook, desktop
$ml-screen:  960px;
$l-screen:  1024px;
$xl-screen:  2048px;
$xxl-screen:  3072px;

//
$small-screen:  480px;
$medium-screen: 720px;
$large-screen:  960px;

// Other
$border-radius: 0px;
$border-size: 2px;
$line-height: 30px;
$padding: 20px;

// Font
$font-family: 'Arial';
$font-size: 15px;
$font-color: #333;
$font-color-light: #ddd;
$font-color-white: #fff;

// icomoon icons
$icomoon-font-path: "../fonts" !default;
$icon-chevron-small-up: "\e900";
$icon-chevron-small-right: "\e901";
$icon-chevron-small-left: "\e902";
$icon-chevron-small-down: "\e903";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cancel-circle: "\ea0d";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-checkmark2: "\ea11";
$icon-arrow-right: "\ea34";
$icon-arrow-down: "\ea36";
$icon-arrow-left: "\ea38";
$icon-arrow-up2: "\ea3a";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down2: "\ea3e";
$icon-arrow-left2: "\ea40";
$icon-circle-up: "\ea41";
$icon-circle-right: "\ea42";
$icon-circle-down: "\ea43";
$icon-circle-left: "\ea44";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked: "\ea54";
$icon-radio-unchecked: "\ea56";

// colors rlp
$red-100:  #871d33; //red-100
$blue-100: #5b7ea2; //blue-100
$red-200:  #FF0000; //red-200
$gray-100: #333333; //gray-100
$gray-200: #4a4a4a; //gray-200
$gray-300: #666666; //gray-300
$gray-400: #8e8e8e; //gray-400
$gray-450: #bbbbbb; //gray-450
$gray-500: #c6c6c6; //gray-500
$gray-550: #e2e2e2; //gray-550
$gray-600: #eeeeee; //gray-600
$gray-700: #f1f1f1; //gray-700

$white: #ffffff;
$black: #000000;
