* {
	font: 12px normal Verdana,Arial,Helvetica,sans-serif;
}

body {
	margin: 0;
	padding: 10px;
	color: #000;
	background-color: #FFF;
}

h1, h2 {
	margin: .5em 0;
	padding: 0;
	font-size: 1.5em;
}

h1 {
	font-weight: bold;
}

p em {
	font-style: italic;
}

form fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

form fieldset legend {
	visibility: hidden;
	display: none;
}

form p {
	line-height: 1.25em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tbody tr.alternate {
	background-color: #EEE;
}

table tbody tr:hover {
	background-color: #E0FFFF;
}

table thead th {
	padding: 10px 5px;
	text-align: left;
	color: #000;
	background-color: #B5B5B5;
	border: 1px solid #000;
	font-weight: bold;
}

table tbody td {
	padding: 3px;
	border: 1px solid #000;
	cursor: pointer;
}

table tbody td strong {
	font-weight: bold;
}

h2#resultString, p#progressIndicator, table#resultTable {
	visibility: hidden;
	display: none;
}

p#progressIndicator img {
	vertical-align: middle;
}