body{
	background-color : transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
select {
	font-size: 11;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 200px;
	font-weight : bold;
}
.select_short{
	width: auto;
}
table{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:11;
}   

.wms_button{
	color: black;
	border: solid thin;
	height:22px;
	width:60px;
}

checkbox{
	background-color : #0066ff; 
}
.titel{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16;
	font-weight : bold;
}
.box{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 14;
}	
.text1{
	position: absolute;
	top: 40px;
	left: 256px;
}
.select1{
	position: absolute;
	top: 80px;
	left: 256px;
	background: #ffffff;
}
.filter1{
	position: absolute;
	top: 60px;
	left: 256px;
	width: 200px;
	background: #ffffff;
}
.text2{
	position: absolute;
	top: 250px;
	left: 0px;
}
.select2{
	position: absolute;
	top: 290px;
	left: 0px;	
	background: #ffffff;
}
.filter2{
	position: absolute;
	top: 270px;
	left: 0px;	
	width: 200px;
	background: #ffffff;
}
.text3{
	position: absolute;
	top: 250px;
	left: 256px;
}
.select3{
	position: absolute;
	top: 290px;
	left: 256px;	
	background: #ffffff;
}
.filter3{
	position: absolute;
	top: 270px;
	left: 256px;	
	width: 200px;
	background: #ffffff;
}
.button1{
	position: absolute;
	left: 205px;
	top: 380px;
}
.button2{
	position: absolute;
	left: 205px;
	top: 440px;
}
.text4{
	position: absolute;
	top: auto;
	left: auto;
	color : #808080;
	font-size : 12;
}
