@charset "utf8";

/* ################################################## */

* {
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 1em;
	font-family: "Lucida Sans Unicode","Lucida Sans","Lucida Grande","Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	color: #000;
	background-color: #FFF;
}

/* ################################################## */

h1 {
	margin-bottom: 1em;
	font-size: 2em;
	color: #600;
}

p {
	margin-bottom: 1em;
}

a {
	color: #09C;
}

a:hover {
	text-decoration: none;
}

/* ################################################## */

form {
	clear: both;
	margin-top: 1em;
}

fieldset {
	padding: 0;
	border: 0;
}

legend {
	display: block;
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
	color: #600;
}

label {
	margin-bottom: .5em;
	white-space: nowrap;
}

input, textarea, select {
	font: inherit;
	background-color: #EEE;
	border: 1px solid #CCC;
}

hr {
	clear: both;
	height: 1px;
	color: #FFF;
	background-color: transparent;
	border: 0;
}

/* ################################################## */

input.wide {
	width: 100%;
}

.rightContainer {
	float: right;
	width: 40%;
	margin-left: -1%;
}


.leftContainer {
	float: left;
	width: 40%;
	margin-right: -1%;
}

.centerContainer {
	float: left;
	width: 20%;
	text-align: center;
}

.centerContainer legend {
	visibility: hidden;
}

.rightContainer select,
.leftContainer select {
	width: 100%;
}

.centerContainer input#add,
.centerContainer input#remove {
	margin-top: .5em;
	margin-bottom: .5em;
	padding-right: 1em;
	padding-left: 1em;
}

#indicator img {
	vertical-align: middle;
}