body{
	font-size: 11px;
	line-height: 12px;
	font-family: "Verdana","Arial",sans-serif;
	overflow-x: hidden;
	background: white;
	color: ThreedDarkShadow;
}
/* links */
a {
  text-decoration:none;
  color:black;
}
a:visited {
	color: ThreedDarkShadow;
}
a:active {
	color: Lime;
}
a:hover {
	color: Navy;
	background-color: #DCDCDC;
	font-weight: bold;
}
.hide-during-splash {
	display: none;
}
div{
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	color: Navy;
	margin-left: 2px;
	background-color:#E5F9FD;
}