.custom-tree-treeview, .custom-tree-treeview ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

.custom-tree-treeview ul {
	background-color:transparent;
	margin-top:1px;
}

.custom-tree-treeview .custom-tree-hitarea {
	background:transparent url(../img/treeview-default.gif) no-repeat scroll -64px -25px;
	cursor:pointer;
	float:left;
	height:16px;
	margin-left:-16px;
	width:16px;
}

* html .custom-tree-hitarea {
	display:inline;
	float:none;
}

.custom-tree-filetree li {
	padding:3px 0 2px 16px;
}

.custom-tree-treeview a.selected {
	background-color:#EEEEEE;
}

.custom-tree-treeview li {
	background:transparent url(../img/treeview-default-line.gif) no-repeat scroll 0 0;
}

.custom-tree-treeview li.custom-tree-collapsable, .custom-tree-treeview li.custom-tree-expandable {
	background-position:0 -176px;
}

.custom-tree-treeview .custom-tree-expandable-hitarea {
	background-position:-80px -3px;
}
.custom-tree-treeview li.custom-tree-last {
	background-position:0 -1766px;
}
.custom-tree-treeview li.custom-tree-lastCollapsable, .custom-tree-treeview li.custom-tree-lastExpandable {
	background-image:url(../img/treeview-default.gif);
}
.custom-tree-treeview li.custom-tree-lastCollapsable {
	background-position:0 -111px;
}
.custom-tree-treeview li.custom-tree-lastExpandable {
	background-position:-32px -67px;
}
.custom-tree-treeview div.custom-tree-lastCollapsable-hitarea, .custom-tree-treeview div.custom-tree-lastExpandable-hitarea {
	background-position:0 50%;
}

.custom-tree-filetree span.custom-tree-folder, .custom-tree-filetree {
	display:block;
}
.custom-tree-filetree span.custom-tree-folder {
	background:transparent url(../img//expanded_folder.png) no-repeat scroll 0 0;
}
.custom-tree-filetree li.custom-tree-expandable span.custom-tree-folder {
	background:transparent url(../img/closed_folder.png) no-repeat scroll 0 0;
}

span.custom-tree-folder {
	padding: 3px 0 3px 18px;
	margin: -3px 0 0 0;
}

span.custom-tree-file img {
	vertical-align: bottom;
	margin: 0 2px 0 0;
}