.lp, .bp, .t_img {
	position: absolute;
	top: 0;
	left: 0;
}

.lp, .bp {
	font-size: 1px;
}

.lp {
	width: 2px;
	height: 2px;
	background-color: #000;
}

.bp {
	width: 5px;
	height: 5px;
	background-color: #F00;
}

.measure {
	text-shadow: 0px 0px 5px #FFFFFF;
	font-size: 8px;
  	font-family: "Verdana","Arial","Tahoma",sans-serif;
}

