body{
	background-color : #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

table{
	font-size: 12px;
}

.table_top{
	font-size: 14px;
}

select {
	font-size: 14;
	width: 200px;
	size: 12px;
}

.select_short{
	width: auto;
}

.Lbutton{
		font-size : 9pt;
		width:56px;
}

.button2{
		font-size : 9pt;
		width: 30px;
}

.button_on_off{
		font-size : 9pt;
		width: 24px;
}

.button_wfs{
		font-size : 9pt;
		width: 48px;
}

.myButton{
		font-size : 14;
		width: 100px;
}
