body{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: #909090;
	background-color: White;
}

table{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: #909090;
}


input{
	width: 180px;
	font-size : 12px;
}

.myButton{
	font-size : 12;
	width: 100px;
	height: 20px;
}

a:link{
	text-decoration : none;
	color: #808080;
}

a:visited {
	text-decoration : none;
}

a:hover {
	/*color: #808080;*/
	text-decoration : none;
	
}

a:active {
	text-decoration : none;
}

.login_text{
	width: 150px;
}

/* BEGIN gui listing */
ul.gui_list {
	padding: 2px;
}

img {
	border: 0;
}

ul.gui_list {
	list-style: none;
}

ul.gui_list li {
	clear: both;
	margin-top: -1px;
	padding: .25em .5em;
	background-color: #fff;
	border: 0px solid #666;
}

div.categoryDescription {
	font-size: 15px;
	color: #808080;
}

div.guiDescription {
	font-size: 12px;
	color: #808080;
}

div.guiListTabs {
	margin-top:15px;
}

a.guiLink {
	color:#000000;
}
/* END gui listing */