body{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #000000;
}

.strinput{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	height: 40px;
	width: 150px;
	color: #000000;
	background: #FFFFFF;   
}

.coord{
	border: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 20px;
	color: #888888;
	background: #FFFFFF;
	width: 80px;
}

.okbutton{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight: normal;
	border : solid thin;
	width: 26px;
	height: 20px;
	background: #c0c0c0;   
}

.ibutton{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight: normal;
	border : solid thin;
	width: 40px;
	height: 20px;
	background: #c0c0c0;   
}