/*body,td, form, input, select{
	font-size: 12px;
	line-height: 16px;
	font-family: "Verdana","Arial",sans-serif;
	color: black;
}

select{
	color:black;
	width:300px;
}

.sbutton{
	width:100px;
	height:40px;
}


table{
	font-size: 12px;
	border: 1px;
	margin-right: 4px;
	margin-left: 6px;
	text-align: left;	
}


.table_top{
	color:black;
	font-size: 12px;
	margin-right: 2px;
	text-align: right;	
}

.table_layer{
	border:1px;
	font-size: 12px;
	border: 1px;
	margin-right: 2px;
	text-align: left;	
}

a {
  text-decoration:none;
  color:black;
	text-decoration: underline;
}

a:active {
	color: red;
}
a:hover {
	color: blue;
	text-decoration: underline;
}
div{
	font-weight: bold;
	text-decoration: underline;
	color: Red;
	margin-left: 2px;
	background-color:#FFEDED;
}*/
table{
	font-size: 12px;
	border: 1px;
	margin-right: 4px;
	margin-left: 6px;
	text-align: left;	
}
