* {
	font: 12px normal Verdana,Arial,Helvetica,sans-serif;
}

body {
	margin: 0;
	padding: 10px;
	color: #000;
	background-color: #FFF;
}

form fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

form p {
	line-height: 1.25em;
	white-space: nowrap;
}

form p label {
	/*
	display: block;
	float: left;
	width: 7em;
	padding-right: 1em;
	line-height: 1.25em;
	*/
}

form p label em {
	display: block;
	color: #666;
}

form p input#mylegendcheckbox {
	margin: 0;
	padding: 0;
}

form p input#print {
	margin-left: 8em;
}