@CHARSET "ISO-8859-1";

#printPDF label, #printPDF input, #printPDF select, #printPDF textarea {
	display: block;
	width: 154px;
	float: left;
	margin: 5px 0px;
	padding: 0px;
	line-height: 18px;
	height: 18px;
	border: 1px solid lightgrey;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}

#printPDF input#submit {
	display: block;
	width: auto;
	float: left;
	padding: 0px 8px;
	line-height: 21px;
	height: auto;
}

#printPDF label {
	text-align: left;
	padding-right: 5px;
	width: 100px !important;
	border: 1px solid transparent;
	cursor: unset !important;
}

#printPDF br {
	clear: left;
}

#printPDF input {
	display:block;
	z-index:1;
	padding:0px 4px;
	width: 146px;
}

#printPDF_working {
	position:absolute;
	z-index: 4;
	display: none;
	visibility: visible;
	padding: 50px 0 0 20px;
}
#printPDF_working_bg {
	position:absolute;
	z-index: 3;
	display: none;
	visibility: visible;
	background-color: #bbbbbb;
	opacity: 0.75;
	width:100%;
	height:100%;
}

#printPDF textarea {
        height: auto;
}

#printPDF_handle {
        cursor: pointer;
        float: left;
        display: block;
}
