.inputfield{
	border : 1px solid #1C5284;
}
.head{
 	font-family: Arial, Helvetica, sans-serif;
 	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#1C5284;
	text-align:left;
	font-weight: bold;
}
.sub{
 	font-family: Arial, Helvetica, sans-serif;
 	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#1C5284;
	text-align:left;
	left-margin:10px;
}
.text{
 	font-family: Arial, Helvetica, sans-serif;
 	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:black;
	text-align:left;
}
.text1{
 	font-family: Arial, Helvetica, sans-serif;
 	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6699CC;
}
.text2{
 	font-family: Arial, Helvetica, sans-serif;
 	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:white;
	text-align:left;
	left-margin:10px;
}
.text3{
 	font-family: Arial, Helvetica, sans-serif;
 	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:white;
}
.text4{
 	font-family: Arial, Helvetica, sans-serif;
 	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6699CC;
	text-align:left;
}
.edit_text{
 	font-family: Arial, Helvetica, sans-serif;
 	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6699CC;
	margin: 2px;
}
.smalltext{
 	font-family: Arial, Helvetica, sans-serif;
 	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:black;
	text-align:left;
	left-margin:10px;
}
.line_ {
	font-family: Arial, Helvetica, sans-serif;
   	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#1C5284;
	text-align:left;
	text-decoration: none	;
}
.imp {
	font-family: Arial, Helvetica, sans-serif;
   	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;

}    
.button{
 	font-family: Arial, Helvetica, sans-serif;
 	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1C5284;
	text-align:center;
	border: 1px solid #1C5284;
	background-color:#EAF2FA;
}
body{
	scrollbar-3dlight-color:#1C5284;
	scrollbar-darkshadow-color:#1C5284;
	scrollbar-highlight-color:white;
	scrollbar-shadow-color:white;
	scrollbar-arrow-color:#1C5284;
	scrollbar-track-color:white;
	scrollbar-face-color:#BEC1C4;
}
.space{
 	leftmargin: 10px;
}
.edit{
	font-family: Arial, Helvetica, sans-serif;
   	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:black;
	text-decoration:none;
	background-color:#86A6C5;
	border:1px solid #143365;
	padding-left:4px;
	padding-right:4px;
}
a.edit{
	font-family: Arial, Helvetica, sans-serif;
   	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:black;
	text-decoration:none;
	background-color:#86A6C5;
	border:1px solid #143365;
	padding-left:4px;
	padding-right:4px;
}
a.edit:hover {
	color:white	;
}   
.line{
border: 1px solid #B2D1F0;
}
.line2{
border: 3px solid #B2D1F0;
}
.line_up{
border-top: 1px solid #B2D1F0;
}
.line_down{
border-bottom: 1px solid #B2D1F0;
}
.line_left{
border-left: 1px solid #B2D1F0;
}
.line_right{
border-right: 1px solid #B2D1F0;
}
.line_up2{
border-top: 3px solid #B2D1F0;
}
.line_down2{
border-bottom: 3px solid #B2D1F0;
}
.line_left2{
border-left: 3px solid #B2D1F0;
}
.line_right2{
border-right: 3px solid #B2D1F0;
}

.line_dash{
border-bottom:1px dashed #B2D1F0;
}
.bg{
background-color:#EAF2FA;
}
.bg1{
background-color:#EAEBEB;
}
.bg2{
background-color:#B2D1F0;
}


.edit_bg_menu{
	background-color:#EAF2FA;
	border:1px solid #B2D1F0;
	border-bottom: 1px solid #EAF2FA;
}
.edit_label_bg{
background-color:#EAF2FA;
border:1px solid #B2D1F0;
}
.edit_label_bg2{
background-color:#EAF2FA;
border:3px solid #B2D1F0;
}
.edit_label_text{
 	font-family: Arial, Helvetica, sans-serif;
 	font: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6699CC;
	text-align: left;
	padding-left:3px;
	padding-top:4px;
	padding-bottom:4px;
}
.edit_label_text_head{
 	font-family: Arial, Helvetica, sans-serif;
 	font: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #4E769D;
	text-align: left;
}
.hand{
	cursor:hand;
}
.edit_label_width{
	width:180px;
}
hr.sep {
	color: #f00;
	background-color: #ccc;
	height: 1px;	
}




