/*body {
   background: #333;
    color: white;
}*/
.slider-container {    
    /*max-width: 600px;*/
    /*max-width: 1000px*/
    padding: 0rem 4rem;
    /*background: #e6e6e6;*/
    /*margin: 2rem auto 0 auto;*/
    overflow: hidden;
    border-radius: 5px;    
    position:relative;
    &:before {
        content: '.slider-container';
        position: absolute;
        left: 0;
        top: 0;
        color: blue;
	visibility: hidden; /*q&d chromefix*/
    }
}

/*img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}*/

[data-controls] {
  border: 0;
  padding: 0;
  font-size: 30px;
  position: absolute;
  top: 60px;
  z-index: 10000;
  background: transparent;
}

[data-controls="prev"] {
  left: 20px;
}

[data-controls="next"] {
  right: 20px;
}

[data-controls="prev"] svg.direction  {
  float: right;
  transform: rotate(-90deg) !important;
}

[data-controls="next"] svg.direction  {
  float: left;
  transform: rotate(90deg) !important;
}
.my-slider {
    position: relative;    
}

.slider-item {
    background: transparent;
    /*border-right: 2px solid #333;*/
    /*padding: 1.5rem .75rem;*/
    position: relative;
/*new*/
height: 150px;
    &:before {
        content: '.slider-item';
        position: absolute;
        left: 0;
        top: 0;
        color: blue;
	visibility: hidden; /*q&d chromefix*/
    }
    
    &:hover {
        cursor: pointer;
    }
}

#customize-controls {
display:none;
}

.controls {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;    
    /*background: #e2e2e2;*/
background: #333;
    width: 100%;    
    top: 50%;
    transform: translatey(-50%);
    display: flex;
    align-items: center;    
    justify-content: space-between;
}    



.card {
    text-align: center;    
    margin: 0 auto;
    max-width: 150px;   
/*max-width: 200px; */    
    color: #333;
    background: white;
    /*border-radius: 5px;*/
    /* padding-bottom: .75rem;*/
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 2px 2px rgba(black, .3);
    position: relative;
    &:before {
        content: '.card';
        position: absolute;
        bottom: 0;
        color: blue;
	visibility: hidden; /*q&d chromefix*/
    }
    img {
        margin-bottom: .25rem;
    }
    
    h2 {
        /*new*/
	font-size: 30%;
        margin: 0 0 .25rem;
    }
    p {
        /*new*/
	font-size: 10px;
        margin: 0;
        /*padding: 0 .5rem;*/
    }
}
.card > img {
    height: 120px !important;
    width: 150px !important;
}

img.load_image {
    height: 24px !important;
    width: 24px !important;
    position: absolute;
    top: 5px;
    right: 3px;
    cursor: pointer;
    background-color:white;
    padding: 2px 1px 4px 0px;
    margin: -5px -3px 0 0; 
}

.tns-item {
    font-size: 10px;   
} 

.tns-nav {
    margin: unset;   
} 

.tns-controls [aria-controls] {
	background: #EEE !important;
	padding: 8px;
	border: 2px solid #DDD;
	border-radius: 5px;
}
.tns-controls [aria-controls]:hover {
	border: 2px solid #333;
}
.tns-controls [disabled]:hover {
	border: 2px solid transparent;
}


.tns-visual-hidden{
display:none;
}

/*Caption Text*/
.slider-item .card .load-count {
    /*bottom: 110px;*/
    color: black;
    font-weight: bold;
    /*font-size: 16px;
    text-shadow: 1px 1px 2px white, 0 0 1em black, 0 0 0.2em black;
    line-height: 0px;
    padding:0 120px;*/
    position: absolute;
    text-transform: uppercase;
    /*z-index:100;*/
    top: 2px;
    left: 2px;
    background-color: #fff;
    padding: 2px;
}
