#treeGDE a {
	text-decoration:none;
	color:black;
	font-size:12px;
}
#treeGDE a.node
{
	vertical-align:middle;
}
#treeGDE a:link
{
	color: #000000;
}
#treeGDE a:visited
{
	color: #000000;
}
#treeGDE a:hover
{
	color: #8080FF;
	text-decoration:underline;
}
#treeGDE table
{
	font-size:8pt;
	line-height:8pt;
	margin: 0px;
	padding: 0px;
}
#treeGDE table.menu
{
	background-color: #fff;
	border: 1px solid #999999
}
#treeGDE tr td
{
	color: #000000;
	font-family: Verdana;
	padding: 0px;
}
#treeGDE img
{
	border:none;
	padding:0px;
	margin:0px;
	vertical-align:middle;		
}
#treeGDE input
{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:3px;
	padding:0px;
	vertical-align:middle;
}

#treeGDE span {
  font-size: 15px;
}
#treeGDE .action {

  cursor:pointer;
}

